@import "./partials/front-hero.pcss";
@import "./partials/header.pcss";
@import "./partials/footer.pcss";
@import "./partials/sidebar.pcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
